{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block main_content %}

<div class="container">
<p>Конкурс основан в память о <a href="/zhenya">Евгении Шурыгине</a> группой его друзьей и коллег по работе в СПбГУ и Международном Комитете Красного Креста.</p>
<p>Мы приглашаем к участию культурных антропологов, социологов, фольлористов, лингвистов и социолингвистов, исследования которых подразумевают полевую работу в одной из стран Африки южнее Сахары.</p>
    <h1 id="">Условия конкурса</h1>
    <ul class="terms">
        <li>
            <h3><span class="circlednumber"></span> Участники</h3>
            <p>
К участию приглашаются культурные антропологи, социологи, лингвисты и социолингвисты, чьи исследовательские проекты подразумевают полевую работу в Африке. Предпочтение будет отдаваться заявкам от студентов и магистрантов. Возможен совместный проект, но не более двух участников.
                </p>
        </li>
        <li>
            <h3><span class="circlednumber"></span> Дедлайн</h3>
            <p>Заявки принимаются до 15 апреля ({{days_left}}).</p>
        </li>
        <li>
            <h3><span class="circlednumber"></span> Требования к заявке</h3>
            <p>Заявка должна содержать обоснование проекта, приблизительную смету и резюме соискателя. Также желательно приложить рекомендацию научного руководителя или другого старшего коллеги с ученой степенью. Соискатель может запросить как полное, так и частичное финансирование своего исследования (софинансирование должно быть отражено в смете).</p>
            <p>Рекомендации к формату исследовательского проекта (стрелка)</p>
        </li>
        <li>
            <h3><span class="circlednumber"></span> Отбор</h3>
            <p>Отбор заявок осуществляет <a href="#jury">жюри</a> через процедуру независимого рецензирования; тексты рецензий предоставляются соискателям.</p>
            <p></p>
            <ol>
                <li>Качество постановки исследовательского вопроса</li>
                <li>Корректность метода и реальность воплощения</li>
                <li>Безопасность и этичность исследования</li>
            </ol>
            <p>Cоискатели, чьи проекты одобрит жюри, будут приглашены для собеседования. Собеседование состоится в Петербурге. Возможно участие по скайпу.</p>
            <p>Помимо проекта-победителя, жюри оставляет за собой право отметить и рекомендовать к поддержке (полной или частичной) и другие заявки, представленные на конкурс.</p>
        </li>
        <li>
            <h3><span class="circlednumber"></span> Подведение итогов</h3>
            <p>В срок до 15 мая 2017 года жюри назовет соискателей, чьи проекты прошли первый этап отбора. Собеседование состоится 30 мая (сроки могут быть незначительно изменены в зависимости от количества заявок). Финансирование осуществляется поэтапно по мере развития проекта. Деньги победителю могут быть переданы наличными или банковским переводом.</p>
        </li>
        <li>
            <h3><span class="circlednumber"></span> Отчетность</h3>
            <p>Победитель обязуется предоставить отчет о поездке в течение 30 дней после ее завершения. Отчет может содержать текст, фотографии, видео и аудио материалы (отчет будет размещен на сайте). Также в течение трех месяцев после поездки победитель должен выступить с докладом на семинаре кафедры африканистики СПбГУ (возможно выступление по скайпу).</p>
        </li>
        <p>Грант ориентирован на полевые исследования в Африке южнее Сахары. К рассмотрению принимаются любые проекты, принадлежащие сфере социальных наук (антропологии, фольклористики, социолингвистики, истории, лингвистики).
            </p>
    </ul>

<div class="col-lg-6 mx-lg-auto col-md-8 mx-md-auto">
  <h1 id='apply' class="sec_heading">
       Подать заявку
  </h1>
  {% crispy form %}
</div>
<h2 id="jury">Жюри конкурса</h2>
<div class="row">
{% for elder in Elders %}

  <div class="col-sm-6 col-md-4">


    <div class="card border-light">
        <p class="lead border-bottom">{{elder.first_name}} {{elder.second_name}}</p>
      <div class="card-body">
        <img src="{{elder.avatar.url}}" class="rounded-circle float-left mx-1" style="height:100px;" alt="">
        <p class="card-text">{{elder.bio}}</p>
      </div>
    </div>





  </div>
  {% endfor %}
</div>




</div>


{% endblock %}
