{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Philosopher|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href= {% static "css/styles_basic.css" %}>
    <link rel="stylesheet" href= {% static "css/mainpage.css" %}>
    <link rel="stylesheet" href= {% static "css/style_fonts.css" %}>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header class="d-flex" style="background-image:url(
    {% block background %}
    {% static "images/backgrounds/borana_backs.jpg" %}
    {% endblock %}); position:relative;">


    {% if user.is_superuser %}
        <h3 style="position:fixed; right:0;">
            <a href="/abmin">admin</a>
        </h3>
     {% endif %}
     {% include "message.html" %}


        <div class="container text-center align-self-center">
                    <h1 class="display-4 branding">Голоса Африки</h1>
                    <h1 class="d-sm-block d-none branding subtitle">Люди и общества к югу от Сахары</h1>
        </div> <!-- div container for branding -->
    </header>
<div class="container main_content">

    <div class="w-100 text-right">
        <a class = 'burger d-sm-none' data-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"> ☰ </a>
    </div>

<div class="collapse " id="collapseMenu">
    <ul class="nav flex-column flex-sm-row" style="margin-bottom:20px;">
        <li class="nav-item p2"> <a href="{% url 'home' %}" class="navigation_link nav-link" style=""><b>Голоса Африки</b></a> <div class="d-none d-sm-block underline_active"></div></li>
        <li class="nav-item p2"> <a href= "{% url 'apply' %}" class="navigation_link nav-link" style=""><b>Конкурс 2018</b></a>     <div class="d-none d-sm-block underline_active"></div></li>
        <li class="nav-item p2"> <a href="{% url 'laureates' %}" class="navigation_link nav-link" style=""><b>Лауреаты</b></a>    <div class="d-none d-sm-block underline_active"></div> </li>
        <li class="nav-item ml-sm-auto p2"> <a href="#" class="navigation_link nav-link" style=""><b>О проекте</b></a>    <div class="d-none d-sm-block underline_active"></div> </li>
    </ul>
</div> <!-- div with menu items collapsebalse -->
</div>
{% block main_content %}

{% endblock %}

<div class="container-fluid px-0 mt-5 main_footer" style="background-image:url({% static 'images/backgrounds/afar_view.jpg' %});  background-attachment: fixed">

<div id="footer">
    <div class="card-deck d-flex flex-column-reverse flex-sm-row">
      <div class="card border-0 bg-transparent">
        <div class="card-body">
          {%if onApply%}
          <p class="card-text"><a class='card-link social-link' href='/contact'> <i class="fas fa-pencil-alt" aria-hidden="true"></i> <i style="font-size:1rem; font-style:normal">Свяжитесь с нами</i> </a></p>
          {% else %}
          <p class="card-text"><a class='card-link social-link' data-toggle="modal" href='#ContactUs'> <i class="fas fa-pencil-alt" aria-hidden="true"></i> <i style="font-size:1rem; font-style:normal">Свяжитесь с нами</i> </a></p>
          {% endif %}
          </div>
      </div>
      <div class="card border-0 bg-transparent">
        <div class="card-body">
          <p class="card-text">&copy; 2016-{% now 'Y' %}</p>
        </div>
      </div>
      <div class="card border-0 bg-transparent">
        <div class="card-body">
             <a class='card-link social-link' href="https://www.facebook.com/groups/golosaafriki"> <span class="fab fa-facebook-f" aria-hidden="true"></span></a>
             <a class='card-link social-link' href="https://vk.com/voicesofafrica"> <span class="fab fa-vk" aria-hidden="true"></span></a>
             <a class='card-link social-link' href="https://vk.com/voicesofafrica"> <span class="fab fa-telegram-plane"></span></a>
        </div>
      </div>
    </div>
    <div class="">
        <p class="card-text icon-logo" style="color:rgba(0, 0, 0, 0.64); font-size:2rem">
        </p>
    </div>
</div>

</div>

<!-- end footer -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src= {% static "js/script.js" %}></script>
</body>
</html>
