{% load crispy_forms_tags %}
<div class="modal fade" id="ContactUs" tabindex="-1" role="dialog" aria-labelledby="ContactUsTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
  <div class="modal-header"> <h5 class="modal-title" id="ContactUsTitle">Связаться с нами</h5>
    <button type="button" class="close" data-dismiss="modal">×</button>
  </div>
  <div class="modal-body">
<form method="post">{% csrf_token %}
  {% crispy form %}</form>
  </div>
</div>
</div>
</div>
