{% extends "base.html" %}
{% load static %}
{% block main_content %}
{% include "contact.html" %}
<div class="container">
        {% for winner in laureates %}
        {% if winner.is_winner %}
  <div class="row mb-5">
    <div class="col-sm-3">
        <img src="{{winner.avatar.url}}" class="rounded-circle mx-auto d-block" style="height:100px;" alt="">
      </div>
      <div class="col-sm-9">
        <p class="lead"> {{winner.first_name}} {{winner.second_name}} </p>
        <p> {{winner.bio|safe}}</p>
      </div>
    </div>
        {% endif %}
        {% endfor %}
</div>

{% endblock %}
