{% extends "base.html" %}
{% load static %}
{% block main_content %}
{% include "contact.html" %}

<div class="container">
  <h1>Евгений Шурыгин</h1>
  <div class="row justify-content-md-center">
    <div class="col text-justify">
      В 2007 году Евгений Шурыгин поступил на кафедру африканистики Восточного факультета СПбГУ по специальности «Языки и культура Восточной Африки (эфиопистика)». Его бакалаврская работа была посвящена истории ислама на Африканском Роге, магистерская – клановой системе и возрастным классам народа оромо-борана на юге Эфиопии (эти институты часто называют основами традиционной демократии оромо). Студентом Женя активно участвовал в учебно-теоретическом семинаре крупного африканиста В.Р. Арсеньева; в 2012 году стал сотрудником Государственного музея истории религии, где занимался контактами с религиозными общинами Санкт-Петербурга.
      В 2013 году Шурыгин поступил в аспирантуру Восточного факультета. Тема его кандидатской диссертации — «Культурно-историческая динамика процесса становления этнической группы борана (Эфиопия)». Одновременно он преподавал на кафедре африканистики, руководил курсовыми работами студентов, был соорганизатором семинара африканских исследований.
      С 2009 г. Евгений регулярно ездил в этнографические экспедиции в Эфиопию — сначала как студент, затем — уже как руководитель группы студентов-эфиопистов. Он владел амхарским языком и геэзом, изучал язык народа оромо, а с 2015 года работал переводчиком в Международном комитете Красного Креста в Аддис-Абебе.
      В сентября 2016 года Евгения не стало. Он погиб в Петербурге в результате несчастного случая за день до отъезда в Эфиопию.
    </div>
    <div class="col col-lg-3">
      <div class="card">
        <img class="card-img-top" src={% static "images/Portret.jpg" %} alt="">
        <p class="card-text"> Санкт-Петербург 2014
        </p>
      </div>

    </div>
    </div>
    <h2>Ссылки</h2>
    <ul>
        <li> <a class="mylink" href="https://lenta.co/evgenij-shurygin-islam-ne-agressiven-est-agressivnye-predstaviteli-147197"> Материал на Лента.со "Ислам не агрессивен – есть агрессивные представители"</a></li>
        <li> <a class="mylink" href="https://soundcloud.com/nikolay-steblin-kamenskiy/evgeniy-shurygin-na-radio-peterburg">  Интервью на радио "Петербург" 27.04.2016 <i class="fas fa-headphones"></i></a></li>
        <li> <a class="mylink" href={% static "docs/Thesis_Shurygin.pdf" %}> Дипломная работа "Традиционные институты в социальной структуре юга современной Эфиопии и севера Кении (на примере этнической группы Борана)" <i class="far fa-file-alt"></i></a> </li>
    </ul>
  </div>





{% endblock %}
